
body{
  background: url(img/kod_simvoly.jpg), rgba(255, 255, 255, 0.425);
  object-fit: cover;
}
.img-portret{
  width: 200px;
  object-fit: contain;
  border-radius: 50%;
  border: 8px groove #0087cb;
  transition-duration: 2s;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}
.img-portret:hover{
  border: 10px solid #78d0ff;
  transform: scale(1.5);
  transition-duration: 2s;
  margin: 0 50px;
}
.wrap-hr{
  margin-top: 200px;
  width: 100%;
}
.block-head{
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  align-items: center;
  background: rgb(255 255 255 / 74%);
}
.block-head h2{
  margin: 25px;
  color: #0087cb;
  font-size: 35px;
  width: 190px;
  font-family: 'Roboto', sans-serif;
}
.hr-head{
  border: 4px solid #0087cb;
  margin: -50px 0;
}








.information{
  margin-top: 104px;
}
.ikon{
  width: 85px;
  object-fit: contain;
  margin: 10px;
}
.wrap-width{
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.block-position h3{
  margin: 15px;
  color: #0087cb;
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}
.block-position div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.block-position{
  width: 45%;
  border: 5px groove #0087cb;
  margin: 15px;
  border-radius: 25px;
  transition: width 2s cubic-bezier(0, 0, 1, 1) 500ms;
  transition: 2s;
  transition-duration: 2s;
  background: rgb(255 255 255 / 74%);
}

.block-position:hover {
  transform: scale(1.2);
  transition: 2s;
  transition-duration: 2s;
  border: 10px solid #78d0ff;
  margin: 5px;
  border-radius: 75px;
}



.block-border{
  border: 5px solid #0087cb;
  border-radius: 15px;
  flex-direction: column !important;
}
span{
  text-align: center;
  font-size: 25px;
  color: #0087cb;
  font-family: 'Roboto', sans-serif;

}
.contakt img{
  width: 40px;
}

.contakt a{
  font-size: 20px;
  text-decoration: none;
  color: #0087cb;
  margin: 0 10px;
  font-family: 'Roboto', sans-serif;
}

.contakt span{
  font-size: 20px;
  text-decoration: none;
  color: #0087cb;
  text-transform: uppercase;
  margin: 0 10px;
  font-family: 'Roboto', sans-serif;
}
li{
  text-transform: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style: none;
}
ul{
  text-transform: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 60px;
}
.fisrt-hr{
  padding: 10px;
  border-radius: 50%;
  background: #fff;
  border: 4px solid #000;
  margin: 5px;
}
.hr-vertical{
  width: 3px;
  height: 45px;
  background: #000;
}
.second-hr{
  padding: 10px;
  border-radius: 50%;
  background: #000;
}
.project{
  display: flex;
  flex-direction: column !important;
}
.project a{
  font-size: 20px;
  text-decoration: none;
  color: #1f5b79;
  margin: 0 10px;
  font-family: 'Roboto', sans-serif;
}
.project span{
  margin: 0 25px;
  font-family: 'Roboto', sans-serif;
}
.block-about{
  display: flex;
  flex-direction: column !important;
}
.block-about span{
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 25px;
}

.block-about h4{
  margin: 15px;
  color: #145474;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  
}




@media screen and (max-width:1180px){
  .block-position {
    width: 80%;
  }
}

@media screen and (max-width:720px){
  ul{
    display: none;
  }
}

@media screen and (max-width:520px){
  .block-head {
    flex-direction: column;
  }
  .project a {
    font-size: 14px;
    margin: 10px;
  }
}
@media screen and (max-width:430px){
  .contakt a {
    font-size: 17px;
  }
}




