*,
*:before,
*:after{
    box-sizing: border-box;
}

body{
    margin: 0 auto;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
.ot{
    margin-left: 100px;
    margin-right: 100px;
}
.clear{
    clear: both;
}
.wrapper{
    width: 100%;
    /* max-width: 1400px; */
    margin: 0 auto;
}
a{
    text-decoration: none;
}
.row:hover{
    color: #fff;
    border-bottom: solid #ffc600;

}
.fon{
    width: 100%;
    background: url(../image/font_1.png) center
    no-repeat;
    background-size: cover;
}
.id{
    font-size: 202px;
}
.logo{
    padding-top: 110px;
    padding-left: 130px;
}
.opt{
    font-size: 18px;
    color: white;
    width: 38%;
    padding-left: 135px;
    padding-bottom: 30px;
    padding-top: 20px;
}
.tx{
    font-size: 18px;
    padding-left: 135px;
    color: #ffc600;
    margin-bottom: 65px;
    display: inline-block;
    cursor: pointer;
}
.tx:hover{
    color: #4fbaff;
}
.list_head{
    background: url(../image/font_2.png) center
    no-repeat;
    background-size: cover;

}
.log{
    padding-left: 30px;
    padding-top: 70px;
}
.menu{
    display: flex;
    flex-direction: row;
    padding-bottom: 414px;
}
.row{
    color: #ffc600;
    font-size: 18px;
    margin: 56px 30px 0 30px;

}
.log_tx{
    margin-top: 70px;
    margin-left: 130px;
    margin-right: 163px;
    padding-bottom: 20px;
}
.logo_text{
    background: #fff;
    display: flex;
    flex-direction: row;
}
.top_inner{
    background: #161616;
}
.stolb{
    margin-right: 20px;
    margin-top: 45px;
    padding-bottom: 25px;
}
.info_text{
    font-size: 16px;
    margin-top: 35px;
}
.info_text_prim{
    font-size: 14px;
    color: #8e8e8e;
    margin-top: 20px;
}
.block_list{
    background: #fff;
    display: flex;
    flex-direction: row;
    padding-top: 70px;
    padding-bottom: 57px;
}
.block_prim{
    padding-left: 150px;
    padding-right: 70px;
}
.block_prim3{
    padding-right: 150px;
    padding-left: 70px;
}
.lors{
    font-size: 10px;
    padding-top: 20px;
    text-align: center;
}
.apps{
    text-align: center;
}
.featured_work{
    background: #161616;
}
.projects{
    background: #fff;
    padding-bottom: 20px;
}
.log_proj{
    padding-left: 80px;
    padding-top: 50px;
}
.block_games{
    display: flex;
    flex-direction: row;
    padding-left: 80px;
}
.works:hover{
    border-bottom: solid #ffc600;
}
.works{
    margin-right: 20px;
    padding-top: 15px;
    margin-bottom: 20px;
    color: #000;
    
}
.gallery{
    display: flex;
    flex-direction: row;
}
.strategy_head{
    background: #161616;
}
.block_strag{
    background: #fff;
    padding-bottom: 64px;
}
.info_strategy{
    padding-left: 80px;
    padding-top: 50px;
    padding-right: 60px;
}
.tx_strag{
    font-size: 16px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.tx_stg{
    font-size: 14px;
    padding-bottom: 45px;
}
.block_info_strat{
    display: flex;
    flex-direction: row;
    padding: 0 70px;
}
.our_pro{
    font-size: 50px;
}
.info_stily_str{
    padding-left: 34px;
    padding-top: 30px;
    width: 50%;
}
.img_strat{
    width: 50%;
}
.img{
    object-fit: cover;
    width: 25%;
}
.provided{
    background: url(../image/font_3.png) center
    no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.log_serices{
    padding-top: 42px;
    padding-left: 50px;
    padding-right: 166px;
}
.block_ser{
    display: flex;
    flex-direction: row;
}
.tx_lor{
    font-size: 11px;
}
.text_serices{
    max-width: 58%;
}
.block_tx_seric{
    padding-right: 90px;
    padding-top: 75px;
}
.top{
    padding-top: 130px;
    padding-bottom: 58px;
}
.team_block_big{
    background: #fff;
    display: flex;
    flex-direction: row;
}
.team_logo{
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 120px;
}
.team_info_text{
    margin-left: 25px;
    padding-right: 224px;
    padding-top: 85px;
}
.info_categor{
    text-align: center;
    font-size: 16px;
}
.name_info{
    text-align: center;
    font-size: 16px;
    margin-top: 16px;
}
.collect_team{
    display: flex;
    flex-direction: row;
    padding-bottom: 150px;
}
.info_collec_team{
    padding-right: 20px;
    width: 25%;
}
.logo_testim{
    padding-left: 50px;
    padding-top: 55px;
}
.testim_cont{
    background: #000;
    display: flex;
    flex-direction: row;
}
.tx_strag_t{
    font-size: 16px;
    color: #fff;
    padding-left: 42px;
    padding-top: 70px;
}
.tx_strag_f{
    font-size: 14px;
    color: #fff;
    padding-left: 42px;
    padding-top: 20px;
    padding-bottom: 163px;
}
.info_prod{
    padding-right: 272px;
    padding-top: 100px;
    padding-left: 84px;
}
.name_info_f{
    color: #fff;
    font-size: 16px;
    text-align: center;
    padding-top: 23px;
}
.info_categor_f{
    color: #fff;
    font-size: 16px;
    text-align: center;
}
.blog_wrap_block{
    background: #fff;
}
.logo9{
    margin-top: 60px;
    margin-left: 60px;
    max-height: 55px;
}
.blog_logo_head{
    display: flex;
    flex-direction: row;
}
.cont_list{
    color: black;
    margin-top: 30px;
    font-size: 18px;
}
.block_list_url{
    display: flex;
    flex-direction: column;
    margin-top: 156px;
    margin-bottom: 115px;
    padding-right: 40px;
    width: 40%;
}
.cont_list:hover{
    color:  #ffc600;
}
.blog_tx{
    color: #ffc600;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 25px;
}
.block_info_blog{
    margin-top: 30px;
    padding-left: 43px;
    padding-right: 43px;
}
/**
*! БЛОК КАРТЫ

*/

.big_block_map_list{
    display: flex;
    flex-direction: row;
}
.block_map{
    max-width: 550px;
    background: #4fbaff;
}
.block_kontact_info{
    max-width: 800px;
    background: #2046b3;
    padding-left: 161px;
    padding-top: 52px;
    display: flex;
    flex-direction: column;
    padding-right: 200px;
}
.block-mail-phone{
    display: flex;
    margin-top: 20px;
}
.input-email{
    background-color: #2046b3;
    width: 202px;
    border: 2px solid silver;
    color: #fff;
    height: 30px;
}
.input-name{
    width: 408px;
    border: 2px solid silver;
    background-color: #2046b3;
    color: #fff;
    height: 30px;
    margin-top: 20px;
}
.input-phone{
    width: 155px;
    margin-right: 47px;
    border: 2px solid silver;
    background-color: #2046b3;
    color: #fff;
    height: 30px;
}
.coment{
    margin-top: 20px;
    background: #2046b3;
    border: 2px solid silver;
    color: #fff;
}
.btn-two{
    margin-top: 25px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 11px;
    padding-bottom: 11px;
    background: #ffc600;
    color: #000;
    width: 25%;
}
.logo-ten{
    width: 44%;
    height: 8%;
    margin-left: 20px;
}
.media-img-width {
    object-fit: cover;
    width: 100%;
}
.sublime_block_fon{
    position: relative;
    width: 82%;
}
.absol{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.width{
    width: 100%;
    object-fit: cover;
}


.text_footer_menu:hover{
    color: #ffc600;;
    border-bottom:  solid #f8c408;

}

.text_footer_menu{
    text-transform: uppercase;
    color: #fff;
    margin: 20px;
}
.sublime_menu{
    display: flex;
    flex-direction: column;
    background: #000;
}

.d-flex-center{
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
.border-solid-px{
    border: 1px solid #f8c408;
    margin-bottom: 15px;
}
.ikon{
    display: flex;
    align-items: center;
    justify-content: center;
}






@media screen and (max-width:1400px){
    .block_kontact_info{
        padding-right: 0;
    }
    .ot{
        margin-left: 40px;
        margin-right: 40px;
    }
    .team_info_text {
        padding-right: 0;
    }
}
@media screen and (max-width:1190px){
    .big_block_map_list{
        display: flex;
        flex-direction: column;
    }
    .sublime_block_fon {
        position: relative;
        width: 100%;
    }
    .gallery {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .block_map {
        max-width: 1100px;
        width: 100%;
        margin: 0 auto;
        }
    .map_google{
        width: 100%;
    }
    .team_info_text {
        margin-left: 0;
        padding-right: 0;
    }
    .block_kontact_info {
        padding-right: 200px;
        max-width: none;
    }
}
@media screen and (max-width:1090px){
    .team_block_big {
        display: flex;
        flex-direction: column;
    }
    .block_info_blog {
        margin-top: 30px;
        padding-left: 3px;
        padding-right: 3px;
    }
    .collect_team {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .logo9 {
        width: 100px;
    }
    .blog_logo_head {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .block_list_url {
        display: flex;
        flex-direction: column;
        margin-top: 0;
        margin-bottom: 0;
        padding-right: 0;
    }
    .cont_list {
        margin: 10px;
    }
}
@media screen and (max-width:900px) {
    .d-flex-center{
        padding-left: 0px;
        padding-right: 0px;
        width: 33%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .logo {
        padding-top: 60px;
        padding-left: 60px;
        max-width: 400px;
        object-fit: cover;
    }
    .top {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .block_tx_seric {
        padding-right: 10px;
        padding-top: 10px;
    }
    .log_serices {
        padding-top: 42px;
        padding-left: 0px;
        padding-right: 0px;
    }
}
@media screen and (max-width:750px) {
    .log_tx {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 0px;
    }
}

@media screen and (max-width: 690px){
    .img_strat {
        width: 100%;
        object-fit: cover;
    }
    .block_info_strat {
        display: flex;
        padding: 0 20px;
        flex-direction: column;
    }
    .info_stily_str {
        padding-left: 10px;
        padding-top: 10px;
        width: 100%;
    }
    .info_prod {
        padding-right: 10px;
        padding-top: 10px;
        padding-left: 10px;
    }
}
@media screen and (max-width:590px){
    .works {
        margin-right: 5px;
        padding-top: 5px;
        margin-bottom: 5px;
    }
    .menu {
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
    }
    .log_tx {
        max-width: 100px;
        object-fit: contain;
    }
    .opt {
        width: 100%;
        padding-left: 5px;
    }
    .map_google {
        width: 100%;
        height: 60vh;
    }
    .block_map {
        max-width: 866px;
        width: 100%;
        margin: 0 auto;
        max-height: 400px;
        padding-bottom: 0;
    }
}
@media screen and (max-width:510px){
    .blog_logo_head {
        display: flex;
        flex-direction: column;
    }
    .block_kontact_info {
        padding-left: 0px;
        padding-top: 0px;
        display: flex;
        flex-direction: column;
        padding-right: 0px;
    }
    .block_games {
        display: flex;
        flex-direction: column;
        padding-left: 80px;
    }
    .provided {
        display: flex;
        flex-direction: column;
    }
    .text_serices {
        max-width: none;
    }
    .log {
        padding-left: 30px;
        padding-top: 70px;
        width: 100%;
    }
}
@media screen and (max-width:400px) {
    .row {
        margin: 10px 10px 0 10px;
    }
    .log {
        padding-left: 0;
        padding-top: 0;
        width: 60%;
        object-fit: contain;
    }
    .logo {
        padding-top: 20px;
        padding-left: 20px;
        max-width: 300px;
        object-fit: cover;
    }
    .img_ikon {
        margin-left: 0px;
        width: 50px;
    }
    .block_list_url {
        width: 90%;
    }
    .input-name {
        width: 90%;
    }
    .block-mail-phone {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
    .input-phone {
        width: 90%;
        margin-right: 0px;
        margin-bottom: 10px;
    }
    .input-email {
        width: 90%;
    }
    .proj{
        width: 100%;
    }
    .info_strategy,a,img{
        width: 100%;
    }
    .block_list {
        background: #fff;
        display: flex;
        flex-direction: column;
        padding-top: 70px;
        padding-bottom: 57px;
    }
    .d-flex-center {
        padding-left: 0px;
        padding-right: 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .stolb {
        margin-right: 20px;
        margin-top: 0;
        padding-bottom: 0;
        height: 100vh;
    }
    .team_logo {
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
        width: 70%;
    }
    .img_width_three{
        width: 13%;
        object-fit: cover;
    }
}
@media screen and (max-width:350px) {
    .menu {
        display: flex;
        flex-direction: column;
    }
    .testim_cont {
        display: flex;
        flex-direction: column;
    }
}

